.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar

# GRiSP
_grisp
_build

# Rebar3
_checkouts

# Achlys
achlys_21.0_plt
LICENSE.md
\.DS_Store

*.crashdump

log/

\.idea/

stale_outputs_checked

data/

achlys-0\.2\.0/

achlys-0\.2\.0\.tar\.gz

achlys-0\.3\.0\.tar\.gz

logs/debug\.1

logs/debug\.idx

logs/debug\.siz

achlys-0\.3\.0/

logs/
