{deps, [
  {grisp, {git, "https://github.com/GrispLasp/grisp.git", {branch, "master"}}},
  {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
  {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
  {partisan, {git, "https://github.com/lasp-lang/partisan.git", {branch, "master"}}},
  {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}}
]}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {build, [
        {toolchain, [
            {directory,"/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}]} % Z370
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/laymer/GRISP/*"},
        {destination, "/media/laymer/GRISP"},
        {post_script, "umount /media/laymer/GRISP"}
    ]}
]}.

{shell, [
    {apps, []},
    {config, "./config/test.config"}
]}.

{relx, [
  {release, {achlys, "0.1.0"}, [
    kernel,
    stdlib,
    sasl,
    grisp,
    {epmd, none},
    lager,
    partisan,
    lasp,
    achlys
  ]},
  {sys_config, "./config/sys.config"},
  {extended_start_script, true}
]}.

{profiles, [{prod, [
                {relx, [
                    {dev_mode, false},
                    {include_erts, true}
                ]},
                {erl_opts, [
                    {d, 'GRISP', true}
                ]}
            ]},
            {test, [
                {dev_mode, true},
                {erl_opts, [
                  nowarn_export_all,
                  debug_info,
                  {d, 'SHELL', true}
                ]},
                {relx, [
                  {sys_config, "./config/test.config"}
                ]}
            ]}
]}.

%% == EDoc ==

{edoc_opts, [
  {report_missing_types, true},
  {source_path, ["src"]},
  {report_missing_types, true},
  {todo, true},
  {packages, false},
  {subpackages, false}
]}.

%% == Dialyzer ==

{dialyzer, [
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "apns"},
  {base_plt_location, "."},
  {base_plt_prefix, "apns"}
]}.
