[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
h1{font-size:2em;}
b,
strong{font-weight:bold;}
code,
kbd,
pre,
samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
img{border:0;}
button,
input,
select,
button,
input{line-height:normal;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],
input[disabled]{cursor:default;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
table{border-collapse:collapse;border-spacing:0;}