%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
[{achlys , [
    {gc_interval, 20000},
    {streams,  #{
        pmod_nav => #{
            temperature => #{
                poll_interval => 30000,
                aggregation_trigger => 6
            },
            pressure => #{
                poll_interval => 30000,
                aggregation_trigger => 6
            }
        }
    }}
]} ,

{partisan , [{partisan_peer_service_manager ,
              partisan_hyparview_peer_service_manager} ,
             {channels , [1]}
]} ,
% {partisan , [{partisan_peer_service_manager ,
%               partisan_hyparview_peer_service_manager}
% ]} ,

{lasp , [{membership , false} ,
         {storage_backend , lasp_ets_storage_backend} ,
         {mode , delta_based} ,
         % {mode , state_based} ,
         % {state_interval, 25000} ,
         {max_gc_counter , 10} ,
         % see https://github.com/lasp-lang/lasp/commit/a9422207e554e47495c7c488450a238274844eb9
         {propagate_on_update, true},
         {plumtree_peer_refresh_interval , 10000} ,
         {delta_interval , 10000}
]} ,

{kernel , [
    {logger_level , notice} ,
    {logger , [{handler ,
                default ,
                logger_std_h ,
                #{level => notice ,
                  formatter => {logger_formatter , #{single_line => true}}}
               }]}
]} ,

{lager , [
    {handlers , [
        {lager_console_backend , [{level , notice}]}
    ]}
]} ,

{logger , [
    {level , notice}
]} ,

{grisp , [
    {drivers , [
        {spi , grisp_spi_drv}
    ]} ,
    {devices , [
        {spi1 , pmod_nav}
        % {spi1 , pmod_nav},
        % {spi2 , pmod_als}
    ]}
]}].
