%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
[{achlys , [
    {temperature ,
     #{table => temp ,
       gc_interval => 20000 ,
       poll_interval => 3000 ,
       aggregation_trigger => 20}
    }
]} ,
    
    {partisan , [{partisan_peer_service_manager ,
                  partisan_hyparview_peer_service_manager} ,
                 {channels , [1]}
    ]} ,
    
    {lasp , [{membership , false} ,
             {storage_backend , lasp_ets_storage_backend} ,
             {mode , delta_based} ,
             {max_gc_counter , 5} ,
             % see https://github.com/lasp-lang/lasp/commit/a9422207e554e47495c7c488450a238274844eb9
             % {propagate_on_update, true},
             {plumtree_peer_refresh_interval , 30000} ,
             {delta_interval , 25000}
    ]} ,
    
    {kernel , [
        {logger_level , notice} ,
        {logger , [{handler ,
                    default ,
                    logger_std_h ,
                    #{level => notice ,
                      formatter => {logger_formatter , #{single_line => true}}}
                   }]}
    ]} ,
    
    {lager , [
        {handlers , [
            {lager_console_backend , [{level , notice}]}
        ]}
    ]} ,
    
    {logger , [
        {level , notice}
    ]} ,
    
    {grisp , [
        {drivers , [
            {spi , grisp_spi_drv}
        ]} ,
        {devices , [
            {spi1 , pmod_nav}
        ]}
    ]}].
