%% -*- erlang -*-
[{achlys, [
    {temperature,
        #{table => temp,
        gc_interval => 20000,
        poll_interval => 3000}
    }
]},

{partisan, [{partisan_peer_service_manager,
            partisan_hyparview_peer_service_manager},
            {channels, [1]}
]},

{lasp, [{membership, false},
    {storage_backend, lasp_ets_storage_backend},
    {mode, delta_based},
    {max_gc_counter, 5},
    % see https://github.com/lasp-lang/lasp/commit/a9422207e554e47495c7c488450a238274844eb9
    % {propagate_on_update, true},
    {plumtree_peer_refresh_interval, 30000},
    {delta_interval, 25000}
]},

{kernel, [
    {logger_level, info},
    {logger, [{handler,
      default,
      logger_std_h,
      #{level => info,
        formatter => {logger_formatter, #{single_line => true}}}
   }]}
]},

{lager, [
  {handlers, [
    {lager_console_backend, [{level, info}]}
  ]}
]},

{logger, [
  {level, info}
]},

{grisp, [
    {drivers, [
        {spi, grisp_spi_drv_emu},
        {gpio, grisp_gpio_drv_emu},
        {i2c, grisp_i2c_drv_emu}
    ]},
    {devices, [
        {spi1, pmod_nav}
    ]}
]}].
