%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
[{achlys , [
    {gc_interval, 60000},
    {streams,  #{
        pmod_nav => #{
            temperature => #{
                poll_interval => 5000,
                aggregation_trigger => 10
            },
            pressure => #{
                poll_interval => 5000,
                aggregation_trigger => 10
            }
        }
    }}
]} ,

{partisan , [
    {partisan_peer_service_manager , partisan_hyparview_peer_service_manager} ,
    {channels , [1]},
    {acceptor_pool_size , 5},
    {min_active_size, 2},
    {max_active_size, 3},
    {max_passive_size, 10},
    {arwl, 3},
    {prwl, 10}
]} ,

{lasp , [
    {membership , false} ,
    {storage_backend , lasp_ets_storage_backend} ,
    {mode , delta_based} ,
    {max_gc_counter , 5} ,
    {delta_mode_max_gc_counter , 5} ,
    {plumtree_peer_refresh_interval , 10000} ,
    {delta_interval , 10000}
]} ,

{kernel , [
    {logger_level , debug} ,
    {logger , [{handler ,
                default ,
                logger_std_h ,
                #{level => debug ,
                  formatter => {logger_formatter , #{single_line => true}}}
               }]}
]} ,

{lager , [
    {handlers , [
        {lager_console_backend , [{level , debug}]}
    ]}
]} ,

{logger , [
    {level , debug}
]} ,

{grisp , [
    {drivers , [
        {spi , grisp_spi_drv_emu} ,
        {gpio , grisp_gpio_drv_emu} ,
        {i2c , grisp_i2c_drv_emu}
    ]} ,
    {devices , [
        {spi1 , pmod_nav}
    ]}
]}].
